<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only color="secondary" (click)="loadMenuNew()" >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Welcome {{user.username}} to Menu List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-scroll class="custom-scroll" scrollY="true">-->
    <ion-list  *ngFor="let menu of MenuList" style="border: 1px solid">
      <ion-item>
        <ion-label color="secondary">Table: {{menu.tableNum}}</ion-label>
        <ion-label color="danger">Total: {{menu.totalPrice}} Đ </ion-label>
        <button (click)="finishOrder(menu)" ion-button item-end icon-start>
          <ion-icon name="checkmark"></ion-icon>  Finish
        </button>
      </ion-item>
      <ion-item>
        <ion-label>Order by: {{menu.orderPerson}} at {{menu.timestamp}}</ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let order of menu.orders">
        <ion-item>
          <ion-avatar item-start><img src="assets/imgs/logo.png"></ion-avatar>
          <ion-label color="primary">{{order.foodId}}</ion-label>
          <ion-label color="danger">{{order.name}}</ion-label>
          <ion-input class="order-price" type="text" disabled value="{{order.price}} x {{order.orderNum}}"></ion-input>
        </ion-item>
        <ion-item-options side="right">
          <button type="button" (click)="deleteFoodOrder(menu, order)"  ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

</ion-content>
