.customConfirm {
  .alert-wrapper {
    width: 100%;
    max-width: 350px;
  }
}
.order-num {
  input {
    text-align: center;
    color: #f53d3d;
  }
}
.order-price {
  input {
    text-align: center;
  }
}
.select-table {
  select {
    text-align: center;
    color: #2ec95c;
  }
}
