<ion-header>
  <ion-navbar>
    <ion-title>Thực đơn đặt món </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="orderSend()" #f="ngForm">
    <ion-item>
      <ion-label color="danger">Số bàn:  </ion-label>
      <ion-select class="select-table" [(ngModel)]="Menu.table" name="tableNum">
        <ion-option style="text-align: center;" *ngFor="let table of tables; trackBy: customTrackBy;"
                    value="{{table.id}}"> {{table.value}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
      <ion-list>
        <ion-list-header>
          <h2>Tạo món ăn</h2>
        </ion-list-header>
        <ion-item>
          <ion-label color="primary">Chọn Mã Món Ăn </ion-label>
          <ion-input name="foodId"   (change)="searchFoodById(foodOrder.id)" type="text" [(ngModel)]="foodOrder.id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Tên món ăn</ion-label>
          <ion-input name="foodName" type="text" disabled [(ngModel)]="foodOrder.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Giá món ăn</ion-label>
          <ion-input name="foodPrice" type="text" disabled [(ngModel)]="foodOrder.price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Chọn Số Lượng </ion-label>
          <ion-input name="foodNum" type="text" [(ngModel)]="foodOrder.num"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col class="signup-col">
            <button [disabled]="foodOrder.num <= 0 && foodOrder.price"  ion-button class="submit-btn" (click)="createFood()" type="button">Tạo món </button>
          </ion-col>
        </ion-row>
      </ion-list>

    <ion-list>
      <ion-list-header>
      <h2>Menu Món Ăn</h2>
      </ion-list-header>
      <ion-item-sliding *ngFor="let food of Menu.foodList; trackBy: customTrackBy; let i = index">
        <ion-item >
          <ion-label color="primary">{{food.id}}</ion-label>
          <ion-label color="danger">{{food.name}}</ion-label>
          <ion-input name="price_{{i}}"
                     type="number"
                     [(ngModel)]="food.price"
                     placeholder="0"
                     class="order-price"
                     disabled
                     required ></ion-input>

          <ion-input class="order-num"
                     name="orderNum_{{i}}"
                     type="number"
                     [(ngModel)]="food.num"
                     placeholder="Số lượng "
                     required ></ion-input>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteFood(food)">Xoá</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" [disabled]="!f.form.valid">Tạo thực đơn </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
